/* Nueva clase para las imágenes de los ecosistemas y seres vivos */
.ecosystem-img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 10px;
}

/* Para ocultar el quiz */
.hidden {
    display: none;
}
